<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="device-container">
        <img class="img-responsive" src="assets/img/02.png">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="header-content">
        <div class="header-content-inner">
          <h1>Feliz Día de San Valentín</h1>
          @if (showMap()) {
          <div style="text-align: center;">
            <img src="assets/img/qr.svg" height="200px" width="200px">
          </div>
          } @else {
          <h4>En un día que celebra un tipo de amistad, yo celebro la nuestra, que es de otra clase. Esa que no necesita
            prólogo ni grandes gestos, sino que está escrita con la tinta invisible de las complicidades diarias, los
            mensajes que hacen compañía y la certeza de que eres un personaje fundamental en mi historia. Gracias por
            leer conmigo la vida y estar en las mejores páginas. Con cariño, Marco 💛✨🍫</h4>
          <div style="margin-top: 40px; text-align: center;">
            <button class="btn btn-giftpink btn-gift-emoji" (click)="showModal()">
              <span class="gift-emoji" aria-hidden="true">🎁</span>
              Abrir regalo
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
<div class="audioembed">
  <audio controls="true" autoplay="true" src="assets/audio/audio.mp3" onloadeddata="setLowVolume()" id="audio1"></audio>
</div>
